Makefile
config.log
www
sandbox
bin/*
*.dSYM
*~
frbib.xml.bib
autom4te.cache
.DS_Store
doc/chap*.txt
doc/chap*.html
doc/manual.*
doc/*.aux
doc/*.pnr
doc/*.tex
doc/*.bbl
doc/*.brf
doc/*.log
doc/*.blg
doc/*.idx
doc/*.ilg
doc/*.ind
doc/*.out
doc/*.toc
myconfigure
