Makefile
Makefile-*
confdefs.h
config.log
www
sandbox
bin/*
*.dSYM
*~
frbib.xml.bib
autom4te.cache
.DS_Store
doc/chap*
doc/manual.*
doc/*.aux
doc/*.pnr
doc/*.tex
doc/*.bbl
doc/*.brf
doc/*.log
doc/*.blg
doc/*.idx
doc/*.ilg
doc/*.ind
doc/*.out
doc/*.toc
myconfigure
.version
*.a
*.o
