Makefile
Makefile-*
config.log
bin/*
*~
sandbox
frbib.xml.bib
autom4te.cache
.DS_Store
doc/chap*txt
doc/chap*html
doc/*.aux
doc/*.pnr
doc/*.tex
doc/*.bbl
doc/*.brf
doc/*.log
doc/*.blg
doc/*.idx
doc/*.ilg
doc/*.ind
doc/*.out
doc/*.toc
doc/manual.pdf
doc/manual.six
gh-pages
tmp
zips
